{% block sidenav %}

    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                {% for artist in artist_tracklist_name %}
                <div class="list-group list-group-flush">
                    <button type="button" class="list-group-item list-group-item-action active"
                                    data-toggle="collapse" data-target="#{{ artist[0]|replace(' ', '_') }}"
                                    aria-expanded="false" aria-controls="{{ artist[0]|replace(' ', '_') }}">
                        {{ artist[0] }}
                        <span class="badge badge-light">12</span>
                    </button>
                </div>
                <div class="row no-gutters">
                    <div class="apoth-offset-md-5">
                        <div class="list-group list-group-flush" class="list-group-item list-group-item-action"
                                data-toggle="collapse" data-target="#{{ artist[0]|replace(' ', '_') }}"
                                aria-expanded="false" aria-controls="{{ artist[0]|replace(' ', '_') }}">
                            {% if artist[1] == None %}
                                <div class="collapse list-group-item list-group-item-action" id="{{ artist[0]|replace(' ', '_') }}">
                                    <!-- <a href="{{ url_for('tracklists.load_tracklist', artist_dj_name = artist.artist_dj_name ) }}">
                                        Untitled mix uploaded {{ artist.upload_date }}
                                    </a> -->
                                    <a href="{{ url_for('tracklists.load_tracklist', tracklist_name_id = artist.id) }}">
                                        Untitled mix uploaded
                                    </a>
                                </div>
                            {% else %}
                                {% for tracklist in artist[1] %}
                                <div class="collapse list-group-item list-group-item-action" id="{{ artist[0]|replace(' ', '_') }}">
                                    <a href="{{ url_for('tracklists.load_tracklist', artist_dj_name = artist[0], tracklist_mix_name = tracklist) }}">
                                        {{ tracklist }}
                                    </a>
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock sidenav %}