{% block sidenav %}

    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-8">
                {% for artist in artist_tracklist_name %}
                <div class="list-group list-group-flush">
                    <button type="button" class="list-group-item list-group-item-action active"
                                    data-toggle="collapse" data-target="#{{ artist.artist_dj_name|replace(' ', '_') }}"
                                    aria-expanded="false" aria-controls="{{ artist.artist_dj_name|replace(' ', '_') }}">
                        {{ artist.artist_dj_name }}
                        <span class="badge badge-light">12</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% with djs_tracklists = tracklist_name_list %}
                {% include 'djs_tracklists.html' %}
            {% endwith %}
        </div>
    </div>

{% endblock sidenav %}