{% block sidenav_tracklist_display %}

<div class="row no-gutters">
    {% for track in tracklist_display %}
    <div class="col-md-8 apoth-offset-md-1">
        <div class="list-group list-group-flush" class="list-group-item list-group-item-action"
                data-toggle="collapse" data-target="#{{ track.artist_dj_name|replace(' ', '_') }}"
                aria-expanded="false" aria-controls="{{ track.artist_dj_name|replace(' ', '_') }}">
            {% if track.tracklist_mix_name == None %}
                <div class="collapse list-group-item list-group-item-action" id="{{ track.artist_dj_name|replace(' ', '_') }}">
                    <a href="{{ url_for('tracklists.load_tracklist', artist_dj_name = track.artist_dj_name) }}">
                        Untitled mix uploaded {{ track.upload_date }}
                    </a>
                </div>
            {% else %}
                <div class="collapse list-group-item list-group-item-action" id="{{ track.artist_dj_name|replace(' ', '_') }}">
                    <a href="{{ url_for('tracklists.load_tracklist', artist_dj_name = track.artist_dj_name) }}">
                        {{ track.tracklist_mix_name }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock sidenav_tracklist_display %}