{% extends 'base.html' %}

{% block content %}

<div class="apoth-jumbotron jumbotron">
    <h1>Tracklists Page</h1>
</div>

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col col-lg-3 align-self-start">
            {% with tracklist_details = tracklist_details %}
                {% include 'sidenav.html' %}
            {% endwith %}
        </div>
    </div>
    <div class="row no-gutters">
        {% with djs_tracklists = djs_tracklists %}
            {% include 'djs_tracklists.html' %}
        {% endwith %}
    </div>
</div>

{% endblock content %}