/*
    These hex values are none 0fficial approximate values intended to simulate
    Crayola colors in HTML
    http://www.w3schools.com/colors/colors_crayola.asp
*/

.sizzling-red {
    color: #ff3855;
}

.red-salsa {
    color: #fd3a4a;
}

.tart-orange {
    color: #fb4d46;
}

.orange-soda {
    color: #fa5b3d;
}

.bright-yellow {
    color: #ffaa1d;
}

.yellow-sunshine {
    color: #fff700;
}

.slimy-green {
    color: #299617;
}

.green-lizard {
    color: #a7f432;
}

.denim-blue {
    color: #2243b6;
}

.blue-jeans {
    color: #5dadec;
}

.plump-purple {
    color: #9c51b6;
}

.sweet-brown {
    color: #a83731;
}

.brown-sugar {
    color: #af6e4d;
}

.eerie-black {
    color: #1b1b1b;
}

.black-shadows {
    color: #bfafb2;
}

.fiery-rose {
    color: #ff5470;
}

.sizzling-sunrise {
    color: #ffdb00;
}

.heat-wave {
    color: #ff7a00;
}

.lemon-glacier {
    color: #fdff00;
}

.spring-frost {
    color: #87ff2a;
}

.absolute-zero {
    color: #0048ba;
}

.winter-sky {
    color: #ff007c;
}

.frostbite {
    color: #e936a7;
}