/*
    These hex values are none 0fficial approximate values intended to simulate
    Crayola colors in HTML
    http://www.w3schools.com/colors/colors_crayola.asp
*/

.red {
    color:#ed0a3f;
}

.maroon {
    color: #c32148;
}

.scarlet {
    color: #fd0e35;
}

.brick-red {
    color: #c62d42;
}

.english-vermilion {
    color: #cc474b;
}

.madder-lake {
    color: #cc3336;
}

.permanent-geranium-lake {
    color: #e12c2c;
}

.maximum-red {
    color: #d92121;
}

.indian-red {
    color: #b94e48;
}

.orange-red {
    color: #ff5349;
}

.sunset-orange {
    color: #fe4c40;
}

.bittersweet {
    color: #fe6f5e
}

.dark-venetian-red {
    color: #b33b24;
}

.venetian-red {
    color: #cc553d;
}

.light-venetian-red {
    color: #e6735c;
}

.vivid-tangerine {
    color: #ff9980;
}

.middle-red {
    color: #e58e73;
}

.burnt-orange {
    color: #ff7f49;
}

.red-orange {
    color: #ff681f;
}

.orange {
    color: #ff8833;
}

.macaronit-and-cheese {
    color: #ffb97b;
}

.middle-yellow-red {
    color: #ecb176;
}

.mango-tango {
    color: #e77200;
}

.yellow-orange {
    color: #ffae42;
}

.maximum-yellow-red {
    color: #f2ba49;
}

.banana-mania {
    color: #fbe7b2;
}

.maize {
    color: #f2c649;
}

