{% block sidenav %}

<div class="container">
    <div class="row no-gutters">
        {% for artist in artist_tracklist_name %}
            <div class="col-md-8">
                <div class="list-group list-group-flush">
                    <button type="button" class="list-group-item list-group-item-action active"
                                    data-toggle="collapse" data-target="#collapseExample"
                                    aria-expanded="false" aria-controls="collapseExample">
                        <div class="collapse multi-collapse" id="collapseExample">
                            {{ artist.artist_dj_name }}
                            <span class="badge badge-light">12</span>
                        </div>
                    </button>
                </div>
            </div>
        <!-- {% endfor %} -->
    </div>
    <div class="row no-gutters">
        {% for tracklist in artist_tracklist_name %}
            <div class="col-md-8 apoth-offset-md-1">
                <div class="list-group list-group-flush">
                    <form method="POST">
                        <a href="#"  id="tracklist_id_{{ tracklist.id }}">
                            <button type="button" class="list-group-item list-group-item-action"
                                    data-toggle="collapse" data-target="#collapseExample"
                                    aria-expanded="false" aria-controls="collapseExample">
                                {% if tracklist.tracklist_mix_name == None %}
                                    <div class="collapse multi-collapse" id="collapseExample">
                                        Untitled mix uploaded {{ tracklist.upload_date }}
                                    </div>
                                    <span style="display: none !important;">
                                        {{ tracklist.id }}
                                    </span>
                                {% else %}
                                    <div class="collapse multi-collapse" id="collapseExample">
                                        {{ tracklist.tracklist_mix_name }}
                                    </div>
                                    <span style="display: none !important;">
                                        {{ tracklist.id }}
                                    </span>
                                {% endif %}
                            </button>
                        </a>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="/static/js/jquery-3.3.1.js"></script>
<!-- script type="text/javascript">
    $(function() {
        debugger;
        var ids = new Array();
        $('[id]').each(function() { //Get elements that have an id=
            debugger;
            if ($(this).attr("id").startsWith('tracklist_id_')) {
                ids.push($(this).attr("id")); //add id to array
            }
        });
        $('a#id').bind('click', function() {
            $.getJSON('/load_tracklist', function(data) {
                // do nothing
            });
            return false;
        });
    });
</script> -->
{% endblock sidenav %}