body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #212529;
  text-align: left;
  color: #fff;
}

li,
ul {
  list-style-type: none;
}

.apoth-row-negative-margin-left {
  margin-left: -50px;
}

.apoth-jumbotron {
  background-color: #212529;
}

.apoth-ids-brand {
  width: 100px;
  height: 100px;
}

.apoth-offset-md-1 {
  margin-left: 2%;
}

.apoth-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 300px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card > .apoth-list-group:first-child .apoth-list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .apoth-list-group:last-child .apoth-list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-header + .apoth-list-group .apoth-list-group-item:first-child {
  border-top: 0;
}

.apoth-list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.apoth-list-group-flush .apoth-list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.apoth-list-group-flush .apoth-list-group-item:last-child {
  margin-bottom: -1px;
}

.apoth-list-group-flush:first-child .apoth-list-group-item:first-child {
  border-top: 0;
}

.apoth-list-group-flush:last-child .apoth-list-group-item:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.apoth-list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: none;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.apoth-list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.apoth-list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.apoth-list-group-item.disabled, .apoth-list-group-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
}

.apoth-list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.apoth-list-group-flush .apoth-list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.apoth-list-group-flush .apoth-list-group-item:last-child {
  margin-bottom: -1px;
}

.apoth-list-group-flush:first-child .apoth-list-group-item:first-child {
  border-top: 0;
}

.apoth-list-group-flush:last-child .apoth-list-group-item:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.card > .apoth-list-group:first-child .apoth-list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .apoth-list-group:last-child .apoth-list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-header + .apoth-list-group .apoth-list-group-item:first-child {
  border-top: 0;
}



@media (min-width: 768px) {
  .apoth-offset-md-1 {
    margin-left: 2%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .apoth-form-control {
    transition: none;
  }
}

.apoth-form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.apoth-form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.apoth-form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.apoth-form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.apoth-form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.apoth-form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.apoth-form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.apoth-form-control:disabled, .apoth-form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.apoth-form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.apoth-form-control-file,
.apoth-form-control-range {
  display: block;
  width: 100%;
}

.apoth-form-control-plaintext {
  display: block;
  width: 100%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  margin-bottom: 0;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}

.apoth-form-control-plaintext.apoth-form-control-sm, .apoth-form-control-plaintext.apoth-form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.apoth-form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.apoth-form-control-lg {
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

select.apoth-form-control[size], select.apoth-form-control[multiple] {
  height: auto;
}

/* textarea.apoth-form-control {
  height: auto;
} */

.input-group > .apoth-form-control,
.input-group > .form-control-plaintext,
.input-group > .custom-select,
.input-group > .custom-file {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group > .apoth-form-control + .apoth-form-control,
.input-group > .apoth-form-control + .custom-select,
.input-group > .apoth-form-control + .custom-file,
.input-group > .form-control-plaintext + .apoth-form-control,
.input-group > .form-control-plaintext + .custom-select,
.input-group > .form-control-plaintext + .custom-file,
.input-group > .custom-select + .apoth-form-control,
.input-group > .custom-select + .custom-select,
.input-group > .custom-select + .custom-file,
.input-group > .custom-file + .apoth-form-control,
.input-group > .custom-file + .custom-select,
.input-group > .custom-file + .custom-file {
  margin-left: -1px;
}

.input-group > .apoth-form-control:focus,
.input-group > .custom-select:focus,
.input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
  z-index: 3;
}