{% block footer %}

    <hr class="w-100 clearfix d-sm-none">
    <!-- Footer -->
    <footer class="page-footer text-center text-md-left mt-4 pt-4 apoth-background-fix">
        <div class="container">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <!-- <div class="col-lg-3 col-md-6 ml-auto">
                    <h5 class="title mb-3 text-uppercase">Footer Content</h5>
                    <p>Here you can use rows and columns here to organize your footer content.</p>
                </div> -->
                <hr class="w-100 clearfix d-sm-none">
                <div class="col-md-6 ml-auto mb-4 text-center">
                    <!-- Grid column -->
                    <ul class="list-unstyled">
                        <li>
                            <a class="nav-item nav-link active" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                            <a class="nav-item nav-link" href="{{ url_for('about_us.about_us') }}">About Iguana Den Studios</a>
                        </li>
                        <li>
                            <a class="nav-item nav-link" href="{{ url_for('tracklists.tracklists') }}">Tracklists</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="w-100 clearfix d-sm-none">
                <div class="col-md-6 ml-auto mb-4 text-center">
                    <ul class="list-unstyled">
                        {% if current_user.is_authenticated %}
                        <li>
                            <a class="nav-item nav-link" href="{{ url_for('upload.upload') }}">Upload</a>
                        </li>
                        <li>
                            <a class="nav-item nav-link" href="{{ url_for('sign_in.logout') }}">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a class="nav-item nav-link" href="{{ url_for('register.register') }}">Register</a>
                        </li>
                        <li>
                            <a class="nav-item nav-link" href="{{ url_for('sign_in.sign_in') }}">Sign in</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
        <!--Call to action-->
        <hr class="w-100 clearfix d-sm-none">
        <div class="call-to-action text-center my-4">
            <h4 class="mb-4">Mastering services for DJs</h4>
            <h5 class="mb-4">Book with us today</h5>
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    <a href="{{ url_for('register.register') }}" class="btn btn-primary waves-effect waves-light"
                    rel="nofollow">Sign up!</a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ url_for('booking.booking') }}" class="btn btn-info waves-effect waves-light"
                    rel="nofollow">Learn more</a>
                </li>
            </ul>
        </div>
        <!--/.Call to action-->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#">IguanaDenStudios.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

{% endblock footer %}