{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <main>
        <!--First row-->
        <div class="row wow fadeIn" data-wow-delay="0.2s">
            <div class="col-md-12">
                <div class="apoth-jumbotron">
                    <div class="apoth-like-h2">
                        <span>
                            Material Design for Bootstrap
                        </span>
                    </div>
                    <br>
                    <div class="apoth-like-p">
                        <span>
                            Powerful and free Material Design UI KIT
                        </span>
                    </div>
                    <br>
                    <div class="apoth-like-p">
                        <span>
                            Register for free and get access to amazing framework and beautiful components
                        </span>
                    </div>
                    <div class="apoth-justify-content-center">
                    <br>
                        <a target="_blank" href="https://mdbootstrap.com/getting-started/" class="apoth-btn apoth-btn-outline-unique" rel="nofollow">Download
                            <i class="fas fa-download right"></i></a>
                        <!-- <a target="_blank" href="https://mdbootstrap.com/getting-started/" class="apoth-btn apoth-btn-outline-unique" rel="nofollow">Download
                        <i class="fas fa-download right"></i></a> -->
                        <a target="_blank" href="https://mdbootstrap.com/material-design-for-bootstrap/" class="apoth-btn apoth-btn-unique btn-ptc"
                            rel="nofollow">Learn more <i class="fas fa-book right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--/.First row-->

        <hr class="extra-margins">

        <!--Second row-->
        <div class="row">
        <!--First columnn-->
        <div class="col-lg-4">
            <!--Card-->
            <div class="apoth-card wow fadeIn" data-wow-delay="0.2s">

            <!--Card image-->
            <img class="img-fluid" src="/static/images/dj/compressed/picspree-104230.jpg"
                alt="turntables image">

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">This is title</h4>
                <!--Text-->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
                <a href="#" class="btn btn-info">Read more</a>
            </div>

            </div>
            <!--/.Card-->
        </div>
        <!--First columnn-->

        <!--Second columnn-->
        <div class="col-lg-4">
            <!--Card-->
            <div class="apoth-card wow fadeIn" data-wow-delay="0.4s">

            <!--Card image-->
            <img class="img-fluid" style="height: 237px;" src="/static/images/recording/compressed/audio-control-room-controls-164938.jpg"
                alt="recording console">

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">This is title</h4>
                <!--Text-->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
                <a href="#" class="btn btn-info">Read more</a>
            </div>

            </div>
            <!--/.Card-->

        </div>
        <!--Second columnn-->

        <!--Third columnn-->
        <div class="col-lg-4">
            <!--Card-->
            <div class="apoth-card wow fadeIn" data-wow-delay="0.6s">

            <!--Card image-->
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Architecture/4-col/img%20(4).jpg"
                alt="Card image cap">

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">This is title</h4>
                <!--Text-->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
                <a href="#" class="btn btn-info">Read more</a>
            </div>

            </div>
            <!--/.Card-->
        </div>
        <!--Third columnn-->
        </div>
        <!--/.Second row-->
    </main>
    <!--/.Main layout-->
{% endblock content %}