{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="apoth-jumbotron jumbotron">
            <h2>Mastering Your Mix!</h2>
            <br>
            <article>
                <div>
                    <p>
                        Iguana Den Studios offers audio mastering services that are specifically focused
                        to a DJ's needs.  From AIFF or WAV files to improving the quality of an MP3;
                        we can help you prepare your mix for digital or physical distribution and even
                        stream your mix for your own online radio show!
                    </p>
                </div>
                <br>
                <div>
                    Some of the tools we use include:
                    <br>
                    <br>
                    <ul>
                        <li>Stanton ST-150 turntables</li>
                        <li>Rane Sixty-Two mixer</li>
                        <li>Rane TTM-56S mixer</li>
                        <li>Pioneer DDJ-SR controller</li>
                        <li>JBL 308P studio monitors</li>
                        <li>Steinberg Nuendo</li>
                        <li>Steinberg Wavelab</li>
                        <li>Behringer X2442 mixer</li>
                    </ul>
                </div>
            </article>
            <br>
            <h2>What is Mastering?</h2>
            <br>
            <article>
                <div>
                    <p>
                        Mastering is the term most commonly used to refer to the process of
                        taking an audio mix and preparing it for distribution.
                        There are several considerations in this process: unifying the sound of
                        a record, maintaining consistency across an album, and preparing for
                        distribution.
                    </p>
                </div>
                <div>
                    <p>
                        Examples of possible actions taken during mastering:
                    </p>
                    <ul>
                        <li>
                            Editing minor flaws
                        </li>
                        <li>
                            Applying noise reduction to eliminate clicks, dropouts, hum and hiss
                        </li>
                        <li>
                            Adjusting stereo width
                        </li>
                        <li>
                            Adding ambience
                        </li>
                        <li>
                            Equalize audio across tracks for the purpose of optimized frequency distribution
                        </li>
                        <li>
                            Adjust volume
                        </li>
                        <li>
                            Dynamic range compression or expansion
                        </li>
                        <li>
                            Peak limit
                        </li>
                        <li>
                            Dither
                        </li>
                    </ul>
                </div>
            </article>
            <br>
            <h2>We're djs too!</h2>
            <br>
                <div>
                    <p>
                        As DJs ourselves, we know that set files can get pretty large.
                        Let us help you get the best sound quality with the lowest file size
                        for digital distribution.  We can even help you with streaming your mix!
                    </p>
                </div>
                <br>
                <h3>ID3 Tagging</h3>
                <div>
                    <p>
                        We can tag your set so that everyone know who you are,
                        what genre your set is and how to get in touch with you!
                    </p>
                </div>
        </div>
    </div>
{% endblock content %}